@tailwind base;
@tailwind components;
@tailwind utilities;

html {
scrollbar-width: thin;
}

.header-art{
    filter: drop-shadow(-20px 10px black)
}

.thick-shadow{
    box-shadow: -10px 10px black;
    border: 2px solid black
}

.text-shadow{
    text-shadow: -5px 10px black;
}